Repository ustaxcourt/ef-cms, pull requests merged in 2022-08, with the labels that each got.

#2391 9518: Support for Longer/Bigger Trial Sessions
  iam/terraform/account-specific/main/regional-log-subscription-filters/create-missing-log-groups.sh
  iam/terraform/account-specific/main/regional-log-subscription-filters/main.tf
  iam/terraform/environment-specific/main/lambda.tf
  scripts/create-many-cases-with-electronic-and-paper-service.sh
  scripts/create-many-trial-session-cases.sh
  shared/src/business/test/createTestApplicationContext.js
  shared/src/business/useCaseHelper/pdf/savePaperServicePdf.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.test.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.standingPretrial.test.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.test.js
  shared/src/business/utilities/copyPagesAndAppendToTargetPdf.js
  shared/src/business/utilities/copyPagesAndAppendToTargetPdf.test.js
  shared/src/business/utilities/shouldAppendClinicLetter.js
  shared/src/business/utilities/shouldAppendClinicLetter.test.js
  shared/src/dispatchers/ses/sendBulkTemplatedEmail.js
  shared/src/dispatchers/ses/sendBulkTemplatedEmail.test.js
  shared/src/persistence/dynamo/helpers/decrementCounter.js
  shared/src/persistence/dynamo/trialSessions/createJobStatus.js
  shared/src/persistence/dynamo/trialSessions/decrementJobCounter.js
  shared/src/persistence/dynamo/trialSessions/getJobStatus.js
  shared/src/persistence/dynamo/trialSessions/setJobAsProcessing.js
  shared/src/persistence/messages/sendEmailEventToQueue.js
  shared/src/persistence/messages/sendSetTrialSessionCalendarEvent.js
  shared/src/persistence/s3/isFileExists.js
  shared/src/persistence/s3/isFileExists.test.js
  web-api/src/applicationContext.js
  web-api/src/trialSessions/setNoticesForCalendaredTrialSessionLambda.js
  web-api/terraform/api/send-emails-lambda.tf
  web-api/terraform/api/set-trial-session-lambda.tf
  web-api/terraform/api/sqs.tf
  web-api/terraform/template/lambdas/send-emails.js
  web-api/terraform/template/lambdas/trial-session.js
  web-api/terraform/template/main-east.tf
  web-api/terraform/template/main-west.tf
  web-client/integration-tests/helpers.js
  web-client/src/applicationContext.js
  web-client/src/presenter/actions/TrialSession/setNoticesForCalendaredTrialSessionAction.js
  web-client/src/presenter/actions/TrialSession/updateTrialSessionAction.js
  webpack.config.lambda.api.js
Labels: to test

#2382 Devex-1076: Unlimited ElasticSearch Results
  shared/src/persistence/elasticsearch/searchClient.js
  shared/src/persistence/elasticsearch/searchClient.test.constants.js
  shared/src/persistence/elasticsearch/searchClient.test.js
Labels: to staging

#2398 Bug 9540: Undefined Judge on Standalone Remote Trial Sessions
  shared/src/business/useCases/trialSessions/updateTrialSessionInteractor.js
  shared/src/business/useCases/trialSessions/updateTrialSessionInteractor.noticeGeneration.test.js
  shared/src/business/useCases/trialSessions/updateTrialSessionInteractor.test.js
  web-client/src/presenter/actions/TrialSession/updateTrialSessionAction.js
Labels: to staging

#2395 9518: Support for Longer/Bigger Trial Sessions
  iam/terraform/account-specific/main/regional-log-subscription-filters/create-missing-log-groups.sh
  iam/terraform/account-specific/main/regional-log-subscription-filters/main.tf
  iam/terraform/environment-specific/main/lambda.tf
  scripts/create-many-cases-with-electronic-and-paper-service.sh
  scripts/create-many-trial-session-cases.sh
  shared/src/business/test/createTestApplicationContext.js
  shared/src/business/useCaseHelper/pdf/savePaperServicePdf.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.test.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.standingPretrial.test.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.test.js
  shared/src/business/utilities/copyPagesAndAppendToTargetPdf.js
  shared/src/business/utilities/copyPagesAndAppendToTargetPdf.test.js
  shared/src/business/utilities/shouldAppendClinicLetter.js
  shared/src/business/utilities/shouldAppendClinicLetter.test.js
  shared/src/dispatchers/ses/sendBulkTemplatedEmail.js
  shared/src/dispatchers/ses/sendBulkTemplatedEmail.test.js
  shared/src/persistence/dynamo/helpers/decrementCounter.js
  shared/src/persistence/dynamo/trialSessions/createJobStatus.js
  shared/src/persistence/dynamo/trialSessions/decrementJobCounter.js
  shared/src/persistence/dynamo/trialSessions/getJobStatus.js
  shared/src/persistence/dynamo/trialSessions/setJobAsProcessing.js
  shared/src/persistence/messages/sendEmailEventToQueue.js
  shared/src/persistence/messages/sendSetTrialSessionCalendarEvent.js
  shared/src/persistence/s3/isFileExists.js
  shared/src/persistence/s3/isFileExists.test.js
  web-api/src/applicationContext.js
  web-api/src/trialSessions/setNoticesForCalendaredTrialSessionLambda.js
  web-api/terraform/api/send-emails-lambda.tf
  web-api/terraform/api/set-trial-session-lambda.tf
  web-api/terraform/api/sqs.tf
  web-api/terraform/template/lambdas/send-emails.js
  web-api/terraform/template/lambdas/trial-session.js
  web-api/terraform/template/main-east.tf
  web-api/terraform/template/main-west.tf
  web-client/integration-tests/helpers.js
  web-client/src/applicationContext.js
  web-client/src/presenter/actions/TrialSession/setNoticesForCalendaredTrialSessionAction.js
  webpack.config.lambda.api.js
Labels: to staging

#2407 9555: Add documentTitle to OSCP to avoid validation failure
  shared/src/business/entities/EntityConstants.js
Labels: to test

#2404 9479 story + feedback + DOD pt 1 to test
  shared/src/business/entities/DocketEntry.test.js
  shared/src/business/entities/EntityConstants.js
  shared/src/business/entities/Stamp.js
  shared/src/business/useCaseHelper/stampDisposition/addDraftStampOrderDocketEntryInteractor.js
  shared/src/business/useCaseHelper/stampDisposition/addDraftStampOrderDocketEntryInteractor.test.js
  shared/src/business/useCaseHelper/stampDisposition/generateStampedCoversheetInteractor.js
  shared/src/business/useCaseHelper/stampDisposition/generateStampedCoversheetInteractor.test.js
  shared/src/business/useCases/addDraftStampOrderDocketEntryInteractor.test.js
  shared/src/business/useCases/generateCoverSheetData.test.js
  shared/src/business/useCases/generateDraftStampOrderInteractor.js
  shared/src/business/useCases/generateDraftStampOrderInteractor.test.js
  shared/src/business/utilities/pdfGenerator/documentTemplates/CoverSheet.jsx
  shared/src/proxies/documents/addDraftStampOrderDocketEntryProxy.js
  shared/src/proxies/documents/generateDraftStampOrderProxy.js
  shared/src/proxies/documents/generateStampedCoversheetProxy.js
  web-api/src/app.js
  web-api/src/applicationContext.js
  web-api/src/documents/addDraftStampOrderDocketEntryLambda.js
  web-api/src/documents/generateDraftStampOrderLambda.js
  web-client/src/applicationContext.js
  web-client/src/getConstants.js
  web-client/src/presenter/actions/CourtIssuedOrder/setEditOrderTitleDataOnModalAction.test.js
  web-client/src/presenter/actions/StampMotion/clearOptionalFieldsStampFormAction.js
  web-client/src/presenter/actions/StampMotion/clearOptionalFieldsStampFormAction.test.js
  web-client/src/presenter/actions/completeMotionStampingAction.js
  web-client/src/presenter/actions/completeMotionStampingAction.test.js
  web-client/src/presenter/actions/getDefaultAttachmentViewerDocumentToDisplayAction.js
  web-client/src/presenter/actions/getDefaultAttachmentViewerDocumentToDisplayAction.test.js
  web-client/src/presenter/actions/setDocketEntrySelectedFromMessageAction.js
  web-client/src/presenter/actions/setDocketEntrySelectedFromMessageAction.test.js
  web-client/src/presenter/actions/unsetDocumentIdAction.js
  web-client/src/presenter/actions/unsetDocumentIdAction.test.js
  web-client/src/presenter/computeds/AdvancedSearch/advancedDocumentSearchHelper.test.js
  web-client/src/presenter/computeds/documentViewerLinksHelper.js
  web-client/src/presenter/computeds/documentViewerLinksHelper.test.js
  web-client/src/presenter/computeds/draftDocumentViewerHelper.js
  web-client/src/presenter/computeds/messageDocumentHelper.js
  web-client/src/presenter/computeds/messageDocumentHelper.test.js
  web-client/src/presenter/sequences/gotoApplyStampSequence.js
  web-client/src/presenter/sequences/gotoMessageDetailSequence.js
  web-client/src/router.js
  web-client/src/styles/custom.scss
  web-client/src/ustc-ui/DateInput/DateInput.jsx
  web-client/src/ustc-ui/DateInput/DatePickerComponent.jsx
  web-client/src/views/DocketRecord/DocumentViewerDocument.jsx
  web-client/src/views/Messages/MessageDocument.jsx
  web-client/src/views/StampMotion/ApplyStamp.jsx
Labels: to test

#2409 9497 identify consolidated cases in qc display
  README.md
  shared/src/business/entities/EntityValidationConstants.js
  shared/src/business/entities/OutboxItem.js
  shared/src/business/entities/OutboxItem.test.js
  shared/src/business/entities/WorkItem.js
  shared/src/business/entities/WorkItem.test.js
  shared/src/business/useCases/docketEntry/addPaperFilingInteractor.js
  shared/src/business/useCases/docketEntry/addPaperFilingInteractor.test.js
  shared/src/business/useCases/editDocketEntry/completeDocketEntryQCInteractor.js
  shared/src/business/useCases/editDocketEntry/completeDocketEntryQCInteractor.test.js
  shared/src/business/useCases/processStreamRecords/processCaseEntries.js
  shared/src/business/useCases/processStreamRecords/processCaseEntries.test.js
  shared/src/business/useCases/processStreamRecords/processWorkItemEntries.js
  shared/src/business/useCases/processStreamRecords/processWorkItemEntries.test.js
  shared/src/persistence/elasticsearch/bulkIndexRecords.js
  shared/src/persistence/elasticsearch/bulkIndexRecords.test.js
  shared/src/persistence/elasticsearch/getIndexNameForRecord.js
  shared/src/persistence/elasticsearch/getIndexNameForRecord.test.js
  shared/src/persistence/elasticsearch/helpers/formatWorkItemResult.js
  shared/src/persistence/elasticsearch/helpers/formatWorkItemResult.test.js
  shared/src/persistence/elasticsearch/helpers/searchClauses.js
  shared/src/persistence/elasticsearch/messages/getCompletedSectionInboxMessages.js
  shared/src/persistence/elasticsearch/messages/getCompletedUserInboxMessages.js
  shared/src/persistence/elasticsearch/messages/getSectionInboxMessages.js
  shared/src/persistence/elasticsearch/messages/getSectionOutboxMessages.js
  shared/src/persistence/elasticsearch/messages/getUserInboxMessages.js
  shared/src/persistence/elasticsearch/messages/getUserOutboxMessages.js
  shared/src/persistence/elasticsearch/searchClient.js
  shared/src/persistence/elasticsearch/searchClient.test.js
  shared/src/persistence/elasticsearch/workitems/getDocumentQCInboxForSection.js
  shared/src/persistence/elasticsearch/workitems/getDocumentQCInboxForSection.test.js
  shared/src/persistence/elasticsearch/workitems/getDocumentQCInboxForUser.js
  shared/src/persistence/elasticsearch/workitems/getDocumentQCInboxForUser.test.js
  web-api/elasticsearch/efcms-work-item-mappings.js
  web-client/integration-tests/docketClerkConsolidatedCaseWorkItemsJourney.test.js
  web-client/integration-tests/helpers.js
  web-client/integration-tests/journey/docketClerkAddsPaperFiledPendingDocketEntryAndSavesForLater.js
  web-client/integration-tests/journey/docketClerkAssignWorkItemToSelf.js
  web-client/integration-tests/journey/docketClerkVerifiesConsolidatedCaseIndicatorDocumentQCSection.js
  web-client/integration-tests/journey/docketClerkVerifiesConsolidatedLeadCaseIndicatorDocumentQCSection.js
  web-client/integration-tests/journey/docketClerkViewsQCSectionInbox.js
  web-client/integration-tests/journey/petitionsClerkAddsPractitionersToCase.js
  web-client/integration-tests/journey/practitionerCreatesNewCase.js
  web-client/integration-tests/journey/practitionerFilesDocumentForOwnedCase.js
  web-client/src/presenter/actions/EditDocketRecord/completeDocketEntryQCAction.js
  web-client/src/presenter/computeds/formattedWorkQueue.js
  web-client/src/presenter/computeds/formattedWorkQueue.test.js
  web-client/src/views/WorkQueue/IndividualWorkQueueInProgress.jsx
  web-client/src/views/WorkQueue/IndividualWorkQueueInbox.jsx
  web-client/src/views/WorkQueue/IndividualWorkQueueOutbox.jsx
  web-client/src/views/WorkQueue/SectionWorkQueueInProgress.jsx
  web-client/src/views/WorkQueue/SectionWorkQueueInbox.jsx
  web-client/src/views/WorkQueue/SectionWorkQueueOutbox.jsx
Labels: to test

#2411 Bug 9569 duplicate trial session notices generation
  shared/src/business/test/createTestApplicationContext.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.test.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.test.js
  shared/src/persistence/dynamo/trialSessions/getTrialSessionProcessingStatus.js
  shared/src/persistence/dynamo/trialSessions/setJobStatus.js
  shared/src/persistence/dynamo/trialSessions/setTrialSessionProcessingStatus.js
  web-api/src/applicationContext.js
  web-api/terraform/api/sqs.tf
  web-api/terraform/template/lambdas/trial-session.js
  web-client/integration-tests/docketClerkConsolidatesCases.test.js
Labels: bugfix, to test

#2416 8572 Text Change - Opinion Search Page
  web-client/src/views/Public/SearchBoilerplateText.jsx
Labels: to test

#2410 OSC/OSCP clarification
  docs/testing.md
  shared/src/business/entities/EntityConstants.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.js
  shared/src/business/utilities/documentGenerators/order.test.js
  web-client/src/views/StartCaseInternal/CaseInformation.jsx
Labels: to test

#2420 Bug 9569 duplicate trial session notices generation
  shared/src/business/test/createTestApplicationContext.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.js
  shared/src/business/useCases/trialSessions/generateNoticesForCaseTrialSessionCalendarInteractor.test.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.js
  shared/src/business/useCases/trialSessions/setNoticesForCalendaredTrialSessionInteractor.test.js
  shared/src/persistence/dynamo/trialSessions/getTrialSessionJobStatusForCase.js
  shared/src/persistence/dynamo/trialSessions/getTrialSessionProcessingStatus.js
  shared/src/persistence/dynamo/trialSessions/setTrialSessionJobStatusForCase.js
  shared/src/persistence/dynamo/trialSessions/setTrialSessionProcessingStatus.js
  web-api/src/applicationContext.js
  web-api/terraform/api/sqs.tf
  web-api/terraform/template/lambdas/trial-session.js
  web-client/integration-tests/docketClerkConsolidatesCases.test.js
Labels: bug, to staging

#2408 BUG 9555: Add documentTitle to OSCP to avoid validation failure
  docs/testing.md
  shared/src/business/entities/EntityConstants.js
  shared/src/business/entities/EntityConstants.test.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.js
  shared/src/business/utilities/documentGenerators/order.test.js
  web-client/src/views/StartCaseInternal/CaseInformation.jsx
Labels: to staging

#2424 #9575 adjust the permissions for the update petitioner cases lambda
  iam/terraform/environment-specific/main/update-petitioner-cases-lambda-role.tf
Labels: Needs Environment Specific

#2437 9577 Feature Flag - Stamp Disposition
  scripts/dynamo/enable-stamp-disposition.sh
  scripts/setup-all-env-configuration.sh
  shared/src/business/entities/EntityConstants.js
  web-api/storage/fixtures/seed/efcms-local.json
  web-client/src/presenter/computeds/documentViewerHelper.js
  web-client/src/presenter/computeds/documentViewerHelper.showApplyStampButton.test.js
  web-client/src/presenter/computeds/messageDocumentHelper.js
  web-client/src/presenter/computeds/messageDocumentHelper.showApplyStampButton.test.js
  web-client/src/presenter/sequences/gotoCaseDetailSequence.js
  web-client/src/presenter/sequences/gotoMessageDetailSequence.js
Labels: to test

#2441 9578 Notice of Receipt of Petition: Text Change
  shared/src/business/utilities/pdfGenerator/documentTemplates/NoticeOfReceiptOfPetition.jsx
  shared/test-pdf-expected-images/Notice_Receipt_Petition.pdf.1.png
Labels: to test

#2440 9576: Update calculated date on OFF and OAPF
  shared/src/business/entities/EntityConstants.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.test.js
  shared/test-pdf-expected-images/Order_For_Amended_Petition_And_Filing_Fee.pdf.1.png
  shared/test-pdf-expected-images/Order_For_Filing_Fee.pdf.1.png
Labels: to test

#2449 3318: Court User: Case Type Filter on Blocked Cases Report
  shared/src/persistence/elasticsearch/getBlockedCases.js
  web-client/integration-tests/journey/petitionsClerkBlocksCase.js
  web-client/integration-tests/journey/petitionsClerkCreatesNewCase.js
  web-client/integration-tests/petitionsClerkBlockCase.test.js
  web-client/integration-tests/petitionsClerkFiltersBlockedCaseReport.test.js
  web-client/src/presenter/actions/setProcedureTypeToAllAction.js
  web-client/src/presenter/computeds/blockedCasesReportHelper.js
  web-client/src/presenter/computeds/blockedCasesReportHelper.test.js
  web-client/src/presenter/sequences/getBlockedCasesByTrialLocationSequence.js
  web-client/src/views/BlockedCasesReport/SelectCriteria.jsx
Labels: to test

#2451 3318 - Fix failing integration test
  web-client/integration-tests/petitionsClerkBlockConsolidatedCasesJourney.test.js
  web-client/src/presenter/sequences/gotoCaseDetailSequence.js
Labels: to test

#2456 9535: consolidated cases on trial session working copy
  .github/ISSUE_TEMPLATE/logging-improvement.md
  shared/src/business/test/createTestApplicationContext.js
  shared/src/business/utilities/getFormattedTrialSessionDetails.getTrialSessionStatus.test.js
  shared/src/business/utilities/getFormattedTrialSessionDetails.js
  shared/src/business/utilities/getFormattedTrialSessionDetails.setPretrialMemorandumFiler.test.js
  shared/src/business/utilities/getFormattedTrialSessionDetails.test.js
  shared/src/business/utilities/setConsolidationFlagsForDisplay.js
  shared/src/business/utilities/setConsolidationFlagsForDisplay.test.js
  web-api/src/applicationContext.js
  web-client/integration-tests/journey/petitionsClerkVerifiesConsolidatedCaseIndicatorSentMessagesBox.js
  web-client/integration-tests/journey/petitionsClerkVerifiesLeadCaseIndicatorSentMessagesBox.js
  web-client/src/applicationContext.js
  web-client/src/presenter/computeds/trialSessionWorkingCopyHelper.filtering.test.js
  web-client/src/presenter/computeds/trialSessionWorkingCopyHelper.js
  web-client/src/presenter/computeds/trialSessionWorkingCopyHelper.test.js
  web-client/src/presenter/utilities/processFormattedMessages.js
  web-client/src/presenter/utilities/processFormattedMessages.test.js
  web-client/src/ustc-ui/Icon/ConsolidatedCaseIcon.jsx
  web-client/src/views/Messages/MessagesIndividualCompleted.jsx
  web-client/src/views/Messages/MessagesIndividualInbox.jsx
  web-client/src/views/Messages/MessagesIndividualOutbox.jsx
  web-client/src/views/Messages/MessagesSectionCompleted.jsx
  web-client/src/views/Messages/MessagesSectionInbox.jsx
  web-client/src/views/Messages/MessagesSectionOutbox.jsx
  web-client/src/views/TrialSessionWorkingCopy/CaseListRowTrialSession.jsx
  web-client/src/views/TrialSessionWorkingCopy/WorkingCopySessionList.jsx
  web-client/src/views/WorkQueue/RecentMessagesInbox.jsx
Labels: to test

#2442 9576 Orders: Update Calculated Date on OFF and OAPF
  shared/src/business/entities/EntityConstants.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.test.js
  shared/test-pdf-expected-images/Order_For_Amended_Petition_And_Filing_Fee.pdf.1.png
  shared/test-pdf-expected-images/Order_For_Filing_Fee.pdf.1.png
Labels: to staging

#2446 Devex 1079: Don't allow object passed to winston logger to overwrite any of our defaultMeta fields
  web-api/src/applicationContext.js
  web-api/src/createLogger.js
  web-api/src/createLogger.test.js
Labels: to test

#2443 9578 Notice of Receipt of Petition: Text Change
  shared/src/business/utilities/pdfGenerator/documentTemplates/NoticeOfReceiptOfPetition.jsx
  shared/test-pdf-expected-images/Notice_Receipt_Petition.pdf.1.png
Labels: to staging

#2432 Script cleanup
  clear-env.sh
  scripts/run-cypress.sh
Labels: to staging

#2461 9535: feedback
  web-client/src/presenter/computeds/trialSessionWorkingCopyHelper.js
  web-client/src/presenter/computeds/trialSessionWorkingCopyHelper.test.js
  web-client/src/views/Messages/MessagesSectionCompleted.jsx
  web-client/src/views/Messages/MessagesSectionInbox.jsx
  web-client/src/views/Messages/MessagesSectionOutbox.jsx
  web-client/src/views/TrialSessionWorkingCopy/CaseListRowTrialSession.jsx
Labels: to test

#2462 9539 Letter of Appeal
  shared/src/tools/courtIssuedEventCodes.json
Labels: to staging

#2472 9566 Remove character limit in Case Notes
  shared/src/business/entities/cases/Case.js
  shared/src/business/useCases/validateCaseDetailInteractor.js
  shared/src/business/useCases/validateCaseDetailInteractor.test.js
  web-api/storage/scripts/cases/createOrder.js
  web-client/integration-tests/journey/petitionsClerkAddsCaseNote.js
  web-client/src/presenter/actions/validateNoteOnCaseDetailAction.js
  web-client/src/presenter/actions/validateNoteOnCaseDetailAction.test.js
  web-client/src/presenter/sequences/updateCaseNoteSequence.js
  web-client/src/views/CaseDetail/AddEditCaseNoteModal.jsx
Labels: to staging

#2467 9525 Court: Restrict Tracked Items Operations to Docket/Clerk of the Court roles
  shared/src/authorization/authorizationClientService.js
  shared/src/authorization/authorizationClientService.test.js
  web-client/src/presenter/computeds/caseDetailHelper.hasTrackedItemsPermission.test.js
  web-client/src/presenter/computeds/caseDetailHelper.js
  web-client/src/views/CaseDetail/CaseDeadlinesInternal.jsx
  web-client/src/views/CaseDetail/CaseDetailPendingReportList.jsx
Labels: to staging

#2469 9544 blocked cases consolidated
  shared/src/persistence/elasticsearch/getBlockedCases.js
  web-client/integration-tests/petitionsClerkBlockConsolidatedCasesJourney.test.js
  web-client/src/presenter/computeds/blockedCasesReportHelper.js
  web-client/src/presenter/computeds/blockedCasesReportHelper.test.js
  web-client/src/presenter/computeds/utilities/addConsolidatedProperties.js
  web-client/src/presenter/computeds/utilities/addConsolidatedProperties.test.js
  web-client/src/views/BlockedCasesReport/BlockedCasesReport.jsx
Labels: to staging

#2470 Dependency Updates (Week of 8-22-2022)
  package-lock.json
  package.json
Labels: to staging

#2476 Bug 9574 Document links to some notices are not available to the public terminal user
  shared/src/business/useCases/courtIssuedDocument/fileAndServeCourtIssuedDocumentInteractor.js
  shared/src/business/useCases/serveCaseToIrs/serveCaseToIrsInteractor.js
  web-client/src/presenter/computeds/Public/publicCaseDetailHelper.js
  web-client/src/presenter/computeds/Public/publicCaseDetailHelper.test.js
Labels: to test

#2474 3318: Court User: Case Type Filter on Blocked Cases Report
  shared/src/persistence/elasticsearch/getBlockedCases.js
  web-client/integration-tests/journey/petitionsClerkBlocksCase.js
  web-client/integration-tests/journey/petitionsClerkCreatesNewCase.js
  web-client/integration-tests/petitionsClerkBlockCase.test.js
  web-client/integration-tests/petitionsClerkBlockConsolidatedCasesJourney.test.js
  web-client/integration-tests/petitionsClerkFiltersBlockedCaseReport.test.js
  web-client/src/presenter/actions/setProcedureTypeToAllAction.js
  web-client/src/presenter/computeds/blockedCasesReportHelper.js
  web-client/src/presenter/computeds/blockedCasesReportHelper.test.js
  web-client/src/presenter/sequences/getBlockedCasesByTrialLocationSequence.js
  web-client/src/views/BlockedCasesReport/BlockedCasesReport.jsx
  web-client/src/views/BlockedCasesReport/SelectCriteria.jsx
Labels: to staging

#2492 Bug 9590: Check for inactivePractitioner role
  shared/src/business/useCases/users/setUserEmailFromPendingEmailInteractor.js
  shared/src/business/useCases/users/setUserEmailFromPendingEmailInteractor.test.js
Labels: bugfix, to test

#2473 DevEx - Reduce trial session data size
  shared/src/business/useCases/trialSessions/getCalendaredCasesForTrialSessionInteractor.js
  shared/src/business/useCases/trialSessions/getCalendaredCasesForTrialSessionInteractor.test.js
  shared/src/persistence/dynamo/trialSessions/getCalendaredCasesForTrialSession.js
Labels: to staging

#2494 Fix failing integration tests
  web-client/integration-tests/petitionsClerkBlockConsolidatedCasesJourney.test.js
Labels: to test
